
<suite name="Suite">
  <test thread-count="2" name="Test1">
  <parameter name="browser" value="chrome" />
    <classes>
      <class name="com.actitime.Testscript.CreateCustomer"/>
    </classes>
  </test> 
  <test thread-count="2" name="Test2">
  <parameter name="browser" value="edge" />
    <classes>
      <class name="com.actitime.Testscript.CreateCustomer"/>
    </classes>
  </test> 
</suite> 